/* @font-face {
  font-family: Licium;
  font-style: normal;
  src: url("/fonts/LiciumFont2022-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
} */

@font-face {
  font-family: Licium;
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/LiciumFont2022-Light.woff2") format("woff2");
}

@font-face {
  font-family: Licium;
  font-weight: 350;
  font-style: normal;
  src: url("/fonts/LiciumFont2022-Normal.woff2") format("woff2");
}

@font-face {
  font-family: Licium;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/LiciumFont2022-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Licium;
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/LiciumFont2022-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Licium;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/LiciumFont2022-Bold.woff2") format("woff2");
}

body {
  font-family: "Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "SimSun", sans-serif;
}

/* 启用字体合成 */
strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-synthesis: weight; /* 允许浏览器合成加粗效果 */
}
